.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin;*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash {
	max-width:100%;
	width:422px;
	height:110px;
	margin-left:auto;
	margin-right:auto;
	margin-top:150px;
	background-image:url(../img/splash_logo.png);
	z-index:1;
}

.experience {
	text-align: center;
}
.experience h1 {
	font-size:1.2rem;
	margin:0 auto 10px auto;
	color:#324C7E;
}
.experience ul {
	text-align: center;
	list-style-type: none;
	margin:0;
	padding:0px;
}
.experience ul li {
	margin:1px;
	padding:1px;
}
.experience ul li a {
	color:#324C7E;
	transition:.5s all;
}
.experience ul li a:hover {
	color:#000;
}


.splash_menu {
	width:322px;
	height:40px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:-35px;
	z-index:2
}

h1.large-message,
p.footer,
p.not-found {
	margin-left:0px;
	margin-right:0px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#666666;
	text-shadow:1px 1px 0px #FFFFFF
}


h1.large-message {
	font-size:18px;	
}
p.footer,
p.not-found {
	font-size:10px;
}


/* 180814 */
.experience {
	text-align: center;
}
.experience h1 {
	font-size:1.2rem;
	margin:0 auto 10px auto;
	color:#324C7E;
}
.experience ul {
	text-align: center;
	list-style-type: none;
	margin:0;
	padding:0px;
}
.experience ul li {
	margin:1px;
	padding:1px;
}
.experience ul li a {
	color:#324C7E;
	transition:.5s all;
}
.experience ul li a:hover {
	color:#000;
}