.play-button {
  font-size:1.2rem;
  width:50%;
  padding:30px;
}
@media (min-width: 768px) {
  .play-button {
    width:25%;
  }
}
@media (max-width: 300px) {
  .play-button {
    width:99%;
    padding-left:5px;
    padding-right:5px;
  }
}
.audio-player {
  padding:20px;
}
  .current-song {
    text-align: center;
  }
  .songs {
    display:flex;
    flex-direction:column;
  }

  /*
  @media (max-width:767px) {
    .songs {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-left:25%;
      padding-right:25%;
    }
  }
  */

  .songs > * {
    margin-bottom:20px;
  }