.play-button {
  font-size: 1.2rem;
  width: 50%;
  padding: 30px;
  border: none;
}
.play-button:hover,
.play-button:active {
  border: none;
}
@media (min-width: 768px) {
  .play-button {
    width: 25%;
  }
}
@media (max-width: 300px) {
  .play-button {
    width: 100%;
  }
}
.audio-player {
  padding: 20px;
  position: relative;
}
.indicator-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  height: 0px;
}
@media (min-width: 768px) {
  .indicator-container {
    width: 25%;
  }
}
.indicator {
  top: 0px;
  display: block;
  width: 5%;
  height: 10px;
  background-color: #324c7e;
  background-color: #ffffff;
  background-color: rgb(240, 240, 240);
  position: absolute;
  transition: 0.0001s all;
}
.current-song {
  text-align: center;
}
.songs {
  display: flex;
  flex-direction: column;
}
p {
  margin-bottom: 30px;
}

/*
  @media (max-width:767px) {
    .songs {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-left:25%;
      padding-right:25%;
    }
  }
  */

.songs > * {
  margin-bottom: 20px;
}
