* {
  transition: all 1s;
}
body {
  padding:2px;
  overflow:hidden;
  overflow-x:hidden;
  height:100%;
}
.splash {
	max-width:100%;
	height:25%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
  background-size:cover;
  max-width:100%;
	z-index:1;
  text-align: center;
}
.splash img {
  max-width:100%;
  width:auto;
  transition:1s all;
}
.experience {
  margin-bottom:5%;
  text-align: center;
  padding:0%;
}
.experience h1 {
	font-size:1.2rem;
	margin:0 auto 10px auto;
	color:#324C7E;
}
.experience h2 {
	font-size:1rem;
	margin:0 auto 10px auto;
	color:#324C7E;
}
.experience ul {
	text-align: center;
	list-style-type: none;
	margin:0;
	padding:0px;
}
.experience ul li {
	margin:1px;
	padding:1px;
}
.experience ul li a {
	color:#324C7E;
	transition:.5s all;
}
.experience ul li a:hover {
	color:#000;
}



.visible {

}
.hidden {
  visibility: hidden;
}


.buttons {
  display:flex;
  background-color:#324C7E;
  padding:2px;
  margin-bottom:20px;
  justify-content: center;
}
.buttons button {
  background:none;
  border:none;
  flex-basis:1
}
.buttons button:hover {
  border:none;
}
.buttons .active {
  background:#fff;
  color:#324C7E;
}

.Portfolio {
  display:flex;
  
}
.portfolio-item {
  flex-grow: 1;
  width:50%;
  flex-basis:50%;
}


@media screen and (max-width: 480px) {
  .splash  {
    height:auto;
    /*transform:rotate(-45deg);*/
    max-height:40%;
    top:0px;
    transition:1s all;
    max-width:100%;
    /*transform:rotate(90deg);*/
    transition:1s all;
    font-size:.75rem;

  }
  .experience h1 {
    font-size:1rem;
  }
}

/* New Stuff */
#nav {
  padding:2%;
  position:fixed;
  left:0;
  top:0;
  background-color:#fff;
}
#nav a { 
  color: #324C7E;
  text-decoration: none;;
}
#nav a:hover {
  padding:1px;
  color:white;
  background-color:#324C7E;
}

.quotes {  
  overflow-y:scroll;
}
.quotes #quotes {
  height:100%;
  text-align: center;
  padding:0 24% 0 24%;
  word-break: break-word;
}